body {
    font-family: Arial;
}

header {
    text-align: center;
}

main {
    text-align: justify;
}

footer {
    text-align: right;
}

h1 {
    font-family: Verdana;
    font-size: 32pt;
}

h1 em {
    font-weight: normal;
}

p {
    font-size: 14pt !important;
}

p.greeting {
    font-size: 24pt;
}

.picture img {
    width: 67%;
}

.advertising {
    margin-left: 30pt;
}

.advertising div {
    font-size: 12pt;
    margin: 5pt 0 5pt 0;
}

.bigger {
    font-size: 16pt;
}
